<!-- vim: set syntax=htmldjango: -->
{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/styles/toys.css" />

	<script setup type="module">
		import {
			createApp,
			ref,
			reactive,
			onMounted,
			watch,
			computed,
		} from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
		import {
			Knob,
			Checkbox,
			Combobox,
			Numberinput,
		} from "/static/scripts/toy.mjs";
		import {
			Fractals,
			FractalType,
		} from "/static/scripts/toys/fractals.mjs";

		createApp({
			components: { Knob, Checkbox, Combobox, Numberinput },
			setup() {
				const sim = new Fractals();
				const canvas = ref(null);

				const Presets = {
					MANDELBROT: 0,
					MULTIBROT: 1,
					JULIA1: 2,
					JULIA2: 3,
					JULIA3: 4,
					JULIA4: 5,
					JULIA5: 6,
					TRICORN: 7,
					NEWTON: 8,
				};

				const coeffs = ref([2.0, 0.0, 0.0, 0.0]);
				const z0 = ref([0.0, 0.0]);
				const zspace = ref(false);
				const iterations = ref(200);
				const preset = ref(Presets.MANDELBROT);
				const animate = computed({
					get() {
						return !sim.timer.isPaused;
					},
					set(v) {
						if (v) {
							sim.timer.start();
						} else {
							sim.timer.pause();
							sim.timer.reset();
						}
					},
				});

				onMounted(() => {
					sim.attach(canvas.value).then(() => {
						sim.start();
						watch(coeffs, (v) => (sim.uniforms.u_coeffs = v), {
							deep: true,
						});
						watch(z0, (v) => (sim.uniforms.u_z0 = v), {
							deep: true,
						});
						watch(zspace, (v) => (sim.uniforms.u_zspace = v));
						watch(
							iterations,
							(v) => (sim.uniforms.u_iterations = v),
						);
						watch(preset, (v) => {
							switch (v) {
								case Presets.MANDELBROT:
									sim.uniforms.u_type = FractalType.ZPOWERN;
									zspace.value = false;
									coeffs.value = [2, 0, 0, 0];
									break;
								case Presets.MULTIBROT:
									sim.uniforms.u_type = FractalType.ZPOWERN;
									zspace.value = false;
									coeffs.value = [10, 0, 0, 0];
									break;
								case Presets.JULIA1:
									sim.uniforms.u_type = FractalType.ZPOWERN;
									zspace.value = true;
									coeffs.value = [2, -0.38, 0.61803, 0.01];
									break;
								case Presets.JULIA2:
									sim.uniforms.u_type = FractalType.ZPOWERN;
									zspace.value = true;
									coeffs.value = [2, 0.285, 0.01, 0.001];
									break;
								case Presets.JULIA3:
									sim.uniforms.u_type = FractalType.ZPOWERN;
									zspace.value = true;
									coeffs.value = [2, -0.8, 0.156, 0.001];
									break;
								case Presets.JULIA4:
									sim.uniforms.u_type = FractalType.ZPOWERN;
									zspace.value = true;
									coeffs.value = [6, 0.736, -0.417355, 0];
									break;
								case Presets.JULIA5:
									sim.uniforms.u_type = FractalType.ZPOWERN;
									zspace.value = true;
									coeffs.value = [1.5, -0.1948, 0, 0];
									break;
								// TODO: Add this back in
								// case Presets.NEWTON:
								// sim.uniforms.u_type = FractalType.NEWTON;
								// break;
							}
						});
					});
				});

				return {
					canvas,
					Presets,
					iterations,
					preset,
					coeffs,
					z0,
					zspace,
					animate,
				};
			},
		}).mount("#app");
	</script>
{% endblock %}

{% block content %}
	<h1>{{ title }}</h1>
	<p>
		<i>
			Note that this visualisation uses WebGL, so performance will depend
			on your computer's graphics processing capabilities.
		</i>
	</p>
	<div id="app">
		<div class="control-group">
			<Combobox
				v-model:selected="preset"
				label="Preset"
				:options="[
				{ label: 'Mandelbrot', value: Presets.MANDELBROT },
				{ label: 'Multibrot (10th power)', value: Presets.MULTIBROT },
				{ label: 'Julia set 1', value: Presets.JULIA1 },
				{ label: 'Julia set 2', value: Presets.JULIA2 },
				{ label: 'Julia set 3', value: Presets.JULIA3 },
				{ label: 'Julia set 4 (6-point star)', value: Presets.JULIA4 },
				{ label: 'Julia set 5 (Glynn fractal)', value: Presets.JULIA5 },
			]"
			></Combobox>
			<span style="font-size: 120%">
				<em>z<sub>n+1</sub></em>
				=
				<em>z<sub>n</sub></em
				><sup>
					<Numberinput v-model:value="coeffs[0]"></Numberinput>
				</sup>
				+
				<Numberinput
					v-if="zspace"
					v-model:value="coeffs[1]"
				></Numberinput
				><span v-else><em>x</em></span>
				+
				<Numberinput
					v-if="zspace"
					v-model:value="coeffs[2]"
				></Numberinput
				><span v-else><em>y</em></span>
				<em>i</em>
				<span v-if="zspace">
					+
					<Numberinput v-model:value="coeffs[3]"></Numberinput
					><em>e<sup>it</sup></em>
				</span>
				&emsp; with <em>z<sub>0</sub></em>
				= (
				<Numberinput v-if="!zspace" v-model:value="z0[0]"></Numberinput>
				<span v-else><em>x</em></span>
				,
				<Numberinput v-if="!zspace" v-model:value="z0[1]"></Numberinput>
				<span v-else><em>y</em></span>
				)
			</span>
			<Checkbox
				v-if="zspace"
				:disabled="coeffs[3] == 0"
				v-model:checked="animate"
				name="Animate"
			></Checkbox>
			<Knob
				name="Iterations"
				units=""
				:min="50"
				:max="500"
				:step="10"
				v-model:value="iterations"
			></Knob>
		</div>
		<div style="width: min(100%, 100vh)" id="canvas-container">
			<canvas ref="canvas"></canvas>
		</div>
	</div>
{% endblock %}
