<!-- vim: set syntax=htmldjango: -->
{% extends "base.html" %}

{% block content %}
	<section>
		<h2>Interactive Toys</h2>
		<div class="flex-row">
			<div class="flex">
				<a href="/toys/doublependulum">
					<div class="highlight-mid" style="text-align: center;">
						<img style="width: 100%; max-width: 300px;" src="/static/img/double_pendulum.png"></img>
					</div>
				</a>
				<h3><i>Double Pendulum</i></h3>
			</div>
			<div class="flex">
				<a href="/toys/snowflake">
					<div class="highlight-mid" style="text-align: center;">
						<img style="width: 100%; max-width: 300px;" src="/static/img/snowflake.png"></img>
					</div>
				</a>
				<h3><i>Snowflake Automata</i></h3>
			</div>
		</div>
		<hr/>
		<div>
			<a href="/toys/fractals">
				<div style="height: 267px; border-radius: 10px; background-image: url(/static/img/fractals.jpg); background-size: 267px;">
				</div>
			</a>
			<h3><i>Fractal Visualiser</i></h3>
		</div>
	</section>
{% endblock %}
