<!-- vim: set syntax=htmldjango: -->
{% extends "base.html" %}

{% block content %}
	<section id="headline" class="highlight">
		<div id="headshot">
			<img src="/static/img/headshot512.jpg" />
		</div>
		<div id="summary">
			<p>
				<strong>Welcome to the personal website of Jack Morton!</strong>
			</p>
			<p>
				I'm a PhD student at the University of Exeter working with the
				MUSIC team on internal gravity waves in stars. We run
				multi-dimensional simulations of stellar interiors.
			</p>
		</div>
	</section>

	<section>
		<h2>Research</h2>
		<div>
			<p>
				<strong>
					My PhD focuses on the behaviour of internal gravity waves
					within stars, including if and how they mix material, how
					they react to the star ageing, and how best to capture them
					in numerical simulations.
				</strong>
			</p>
			<a
				class="float-right-adaptive align-centre"
				target="_blank"
				href="/static/img/music_snapshot.png"
			>
				<img
					height="500"
					src="/static/img/music_snapshot_small.png"
					alt="A snapshot of a stellar simulation with a wedge shaped domain"
				/>
			</a>
			<p>
				Internal gravity waves are present in every main-sequence star.
				Convective regions of the star (like the outer ~30% of the Sun,
				or the cores of more massive stars) constantly excite waves in
				the adjacent stable regions. The waves propagate, experience
				damping, form standing waves, and interact with one another.
			</p>
			<p>
				The rate at which material is mixed in and out of the nuclear
				burning core of a star is cruicial to its evolution. The
				contribution of internal gravity waves to this mixing is still
				not understood, and could be the answer to current discrepancies
				between models and observations.
			</p>
			<p>
				To investigate this, we run two- and three-dimensional
				simulations of (almost) full stellar interiors, small idealised
				boxes, and models in between.
				<a target="_blank" href="https://doi.org/10.1093/mnras/staf010"
					>Morton et al. (2025)</a
				>
				details the start of our work on this.
			</p>
		</div>
	</section>

	<section>
		<h2>Publications, Talks etc.</h2>
		<ul>
			<li class="icon paper">
				<a target="_blank" href="https://doi.org/10.1093/mnras/staf010">
					<strong>J Morton</strong>, T Guillet, I Baraffe, A Morison,
					A Le Saux, D G Vlaykov, T Goffrey, J Pratt (2025)<br />
				</a>
				<i
					>"Mixing by internal gravity waves in stars: assessing
					numerical simulations against theory"</i
				>
			</li>
			<li class="icon paper">
				<a
					target="_blank"
					href="https://doi.org/10.1093/mnras/stae1678"
				>
					A Morison, A Le Saux, I Baraffe, <strong>J Morton</strong>,
					T Guillet, D G Vlaykov, T Goffrey, J Pratt (2024)<br />
				</a>
				<i
					>"Effects of stratification on overshooting and waves atop
					the convective core of 5M<sub>⊙</sub> main-sequence
					stars"</i
				>
			</li>
			<li class="icon talk">
				<strong>
					Talk at
					<a
						target="_blank"
						href="https://sites.google.com/view/stellarhydrodays-vi"
						>Stellar Hydro Days VI</a
					><br />
				</strong>
				12-16 May 2025, Victoria, Canada<br />
				<i
					>"Chemical mixing by internal gravity waves in stellar
					radiative zones: from stars to boxes"</i
				>
			</li>
			<li class="icon talk">
				<strong>
					Talk at
					<a
						target="_blank"
						href="https://www.iastro.pt/research/conferences/tasc8-kasc15"
						>TASC8/KASC15</a
					><br />
				</strong>
				15-19 July 2024, Porto, Portugal<br />
				<i
					>"Mixing in Massive Main-Sequence Stars by Internal Gravity
					Waves"</i
				>
			</li>
			<li class="icon poster">
				<strong>
					Poster at "<a
						target="_blank"
						href="https://gafd.sciencesconf.org/"
						>Parameterizations for Global Dynamical Models in
						Climatology, Astrophysics, and Planetology</a
					>"<br />
				</strong>
				16-21 March 2025, Les Houches, France<br />
				<i
					>"Mixing by internal gravity waves in stars: assessing
					numerical simulations against theory"</i
				>
				<a
					target="_blank"
					href="/static/docs/morton_leshouches25_poster_small.pdf"
					>(PDF)</a
				>
			</li>
			<li class="icon workshop">
				<strong>
					Attended the workshop "<a
						target="_blank"
						href="https://adrienmorison.com/workshop-2023-10/"
						>Beyond Boussinesq for Astrophysical and Geophysical
						fluids</a
					>"<br />
				</strong>
				16-19 October 2023, Lyon<br />
			</li>
			<li class="icon workshop">
				<strong>
					Attended the summer school "<a
						target="_blank"
						href="https://cism.it/en/activities/courses/C2301/"
						>Fluid Mechanics of Planets and Stars</a
					>"<br />
				</strong>
				17-21 April 2023, Udine, Italy<br />
			</li>
		</ul>
	</section>
{% endblock %}
