<!-- vim: set syntax=htmldjango: -->
{% extends "base.html" %}

{% block content %}

<h1>Find Me At...</h1>
<ul>
	<li class="icon mail">
		<a href="mailto:jjm229@exeter.ac.uk">jjm229@exeter.ac.uk</a>
		or
		<a href="mailto:jjomorton@gmail.com">jjomorton@gmail.com</a>
	</li>
	<li class="icon git">
		<a target="_blank" href="https://github.com/JJMorton">GitHub</a>
	</li>
	<li class="icon orcid">
		<a target="_blank" href="https://orcid.org/0000-0002-4271-1295">ORCiD</a>
	</li>
</ul>

{% endblock %}
